* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
}

::-webkit-scrollbar {
  width: 12px;
  height: 3px;
}
::-webkit-scrollbar-button {
  background-color: #17518b;
}
::-webkit-scrollbar-track {
  background-color: #fffefe;
}
::-webkit-scrollbar-track-piece {
  background-color: rgb(109, 160, 255);
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #17518b;
  border-radius: 0px;
}
::-webkit-scrollbar-corner {
  background-color: #646464;
}
::-webkit-resizer {
  background-color: #666;
}
/* Scrol bar  */

.main-container {
  /* background-color: rgb(13, 19, 10);
  height: 100vh; */
  height: 100vh;
}
.main-container-major {
  /* background-color: rgb(81, 255, 0); */
  height: 96.8vh;
}
.main-container-sideBar {
  background-color: rgb(196, 32, 27);
  height: 100vh;
}
.sliderMain {
  border-radius: 0 !important;
  height: 100%;
  width: 100%;
  padding: 2px 3px;
}

/* custom-hard code  */
.m-0 {
  margin: 0 !important;
}
.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}
.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.m-1 {
  margin: 6px !important;
}
.mx-1 {
  margin-left: 6px !important;
  margin-right: 6px !important;
}
.my-1 {
  margin-top: 6px !important;
  margin-bottom: 6px !important;
}
.m-2 {
  margin: 12px !important;
}
.mx-2 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}
.my-2 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}
.border-none {
  border: 0 !important;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 12px 4px !important;
  color: azure !important;
  height: 2px !important;
}
.css-1t29gy6-MuiToolbar-root {
  min-height: 41px !important;
}
.css-191lty2 {
  min-height: 55px !important;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
  min-height: 1em !important;
}
.css-qiwgdb {
  padding: 8.5px 14px !important;
}

.Paper-style {
  /* background-image: url("/coronavirus_cdc.jpeg"); */
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  font-family: sans-serif;
  /* align-items: center; */
  color: white !important;
  height: 150px;
  padding-left: 34px;
  padding-left: 10px;
}
.Paper-style h2 {
  margin-top: 3px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 600;
}
.Paper-style h1 {
  margin-top: 3px;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 500;
}
.Paper-style h4 {
  font-size: 16px;
  font-weight: 500;
  font-family: sans-serif;
}

.footer-div {
  height: 21%;
  margin-top: 24px;

  border-top: 1px solid #1976d2;
  border-bottom: 1px solid #1976d2;
  padding: 15px 0px;
  text-align: center;
  color: #1976d2;
}
.footer-div h4 {
  font-size: 26px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 500;
  margin-bottom: 3px;
  letter-spacing: 5px;
}
.footer-div p {
  font-size: 12px;

  font-family: sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
  min-height: 0.7em !important;
}

.card-outside {
  background-color: white !important;
  height: 93% !important;
  padding: 8px !important;
}
.card-insider {
  -webkit-column-break-before: 1px solid #1976d2 !important;
  height: 100% !important;
  width: 100% !important;
}
.bg-color {
  background-color: #1976d2 !important;
}

.chart-insider {
  height: 64.5%;
  width: 98%;
  padding: 0 45px;
  margin: auto auto;
  margin-top: 29px;
}
